@page
@model HelloHomes.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Property</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Property.Name" class="control-label"></label>
                <input asp-for="Property.Name" class="form-control" />
                <span asp-validation-for="Property.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Property.Description" class="control-label"></label>
                <input asp-for="Property.Description" class="form-control" />
                <span asp-validation-for="Property.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Property.Image" class="control-label"></label>
                <input asp-for="Property.Image" class="form-control" />
                <span asp-validation-for="Property.Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Property.Bedrooms" class="control-label"></label>
                <input asp-for="Property.Bedrooms" class="form-control" />
                <span asp-validation-for="Property.Bedrooms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Property.RentPerMonth" class="control-label"></label>
                <input asp-for="Property.RentPerMonth" class="form-control" />
                <span asp-validation-for="Property.RentPerMonth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Property.LandlordID" class="control-label"></label>
                <input asp-for="Property.LandlordID" class="form-control" />
                <span asp-validation-for="Property.LandlordID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Property.LandlordName" class="control-label"></label>
                <input asp-for="Property.LandlordName" class="form-control" />
                <span asp-validation-for="Property.LandlordName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Property.LandlordNumber" class="control-label"></label>
                <input asp-for="Property.LandlordNumber" class="form-control" />
                <span asp-validation-for="Property.LandlordNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Property.ApprovalStatus" class="control-label"></label>
                <input asp-for="Property.ApprovalStatus" class="form-control" />
                <span asp-validation-for="Property.ApprovalStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
