.title {
    text-align: center;
    padding-top: 0px;
    padding-bottom: 10px;
    background-image: url('images/background.jpg');
    background-size: cover;
}

img.title_logo {
    max-width: 50%;
    max-height: 25%;
}

.navbar-default {
    background-color: #3a3a3a;
    border-color: #3a3a3a;
}

.nav.navbar-nav li a {
    color: white;
}

.nav.navbar-nav > li > a:hover {
    background-color: white;
    color: #3a3a3a;
}

.footer_nav {

}

.footer {
    padding: 10px;
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #3a3a3a;
    text-align: center;
}
