@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "No such page";
    Layout = "_Layout";
}

<style>
    .img_center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 40%;
        padding:10px;
    }
</style>

<h1 align="center">404 Not found</h1>
<img class="img_center" src="~/images/404_house.png" alt="404 House">
<p align="center">No such page exists at this location.</p>