@page "{id}"
@model AddEditPropertyModel
@{ 
    var id = long.Parse((string)RouteData.Values["id"]);
    var propertyService = new PropertyService();
    var property = await propertyService.FindAsync(id);

    ViewData["Title"] = "AddEditProperty";
}

<div class="row" style="padding:10%;">

    <form method="post" class="form-horizontal">

        @if (!ModelState.IsValid)
        {
            <div class="col-md-offset-2 col-md-10">
                <h3 class="text-danger">Error!</h3>
                <div asp-validation-summary="All"></div>
                <hr />
            </div>
        }

        <div class="form-group">
            <label asp-for="Name" class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                @if (!Model.IsNewProperty)
                {
                    <input asp-for="Name" class="form-control" value=@property.Name/>
                } else
                {
                    <input asp-for="Name" class="form-control" placeholder="Property Name" />
                }
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Description" class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                @if (!Model.IsNewProperty)
                {
                    <textarea name="Description" class="form-control">@property.Description</textarea>
                }
                else
                {
                    <textarea asp-for="Description" class="form-control" placeholder="Description"></textarea>
                }
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Bedrooms" class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                @if (!Model.IsNewProperty)
                {
                    <input asp-for="Bedrooms" class="form-control" value="@property.Bedrooms"/>
                }
                else
                {
                    <input asp-for="Bedrooms" class="form-control" placeholder="No. of Bedrooms" />
                }
            </div>
        </div>

        <div class="form-group">
            <label asp-for="RentPerMonth" class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                @if (!Model.IsNewProperty)
                {
                    <input asp-for="RentPerMonth" class="form-control" value="@property.RentPerMonth" />
                }
                else
                {
                    <input asp-for="RentPerMonth" class="form-control" placeholder="Rent (£ pcm)" />
                }
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Image" class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                <input type="file" asp-for="Image"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                    @if (!Model.IsNewProperty)
                    {
                        <button type="submit" class="btn btn-primary">Update Property Listing</button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-primary">Add Property Listing</button>
                    }
                    @if (!Model.IsNewProperty)
                    {
                        <button asp-page-handler="Delete" class="btn btn btn-warning">Delete</button>
                    }
            </div>
        </div>
    </form>
</div>