@page
@{
    var personService = new PersonService();
    var person = await personService.FindByEmailAsync(User.Identity.Name);
}

<html>
<body>
    <h2>Listing Approval Page</h2>

    @if (person.IsAdmin)
    {
        <h3>You are an admin </h3>
    }else
    {
        <h3>Sorry you are not allowed to see this! </h3>
    }

</body>
