<DOCTYPE html>

<html>
<head>
    <title> Hello Homes </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/layout.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <!-- Title -->
    <div class="title">
        <a href="/index">
            <img class="title_logo" src="~/images/HelloHomesLogo.png" alt="Hello Homes!" />
        </a>
    </div>

    <!-- Navigation Bar-->
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li><a href="/index">Home</a></li>
                <li><a href="/rent">Rent</a></li>
                <li><a href="/list">List</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
    </nav>

    <!-- Body -->
    <div class="content">
        @RenderBody();
    </div>

    <!-- Footer -->
    <div class="footer">
        <div class="footer_nav">
            <ul>
                <li><a href="/about">About</a></li>
                <li><a href="/admin">Admin</a></li>
                <li><a href="/help">Help</a></li>
            </ul>
        </div>
        <div class="footer_time">
            <span class="text-muted">Last Rendered: @DateTime.Now </span>
        </div>
    </div>
</body>
</html>