@page 
@{ 
    ViewData["Title"] = "Home";
}

<link rel="stylesheet" href="~/css/index.css" />
<!-- Page title -->

<!-- Rent/List banner -->
<div class="container">

    <div class="container_image">
        <img src="~/images/house.jpg" alt="Background">
    </div>

    <p class="bannertext bannertext_top">I want to...</p>
    <a href="/Property/Rent"> 
        <button class="btn btn_rent">Rent</button>
    </a>
    <p class="bannertext_middle">or</p>
    <a href="/Property/List">
        <button class="btn btn_list">List</button>
    </a>
    <p class="bannertext bannertext_bottom">a property</p>
</div>