@page

@{
    ViewData["Title"] = "Contact";
}

<h2>Contact Us!</h2>

<ul>
    <li> <b>Address:</b> Hello Homes, University Road, Southampton, SO17 1SS</li>
    <li> <b>Phone Number:</b> 02340 323 545</li>
    <li> <b>Email: </b> <a href="mailto:hellohomes@hellohomes.net">hellohomes@hellohomes.net</a></li>
</ul>

<div class="google_map">
    <div style="overflow:hidden;position: relative;">
        <iframe width="100%" height="500" src="https://maps.google.com/maps?width=700&amp;height=440&amp;hl=en&amp;q=University%20of%20Southampton%2C%20Highfield%20Campus+(Hello%20Homes)&amp;ie=UTF8&amp;t=&amp;z=16&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><div style="position: absolute;width: 80%;bottom: 20px;left: 0;right: 0;margin-left: auto;margin-right: auto;color: #000;"><small style="line-height: 1.8;font-size: 8px;background: #fff;"></small></div>
        <style>
            #gmap_canvas img {
                max-width: none !important;
                background: none !important;
                overflow: hidden;
                max-width: 100%;
            }
        </style>
    </div><br />
</div>